  
  <!-- Footer-->
  <footer class="footer">
    <div class="container">
      <div class="footer__wrapper">
        <div class="footer__block">
         <div class="footer__logo-wrap">
          <div class="footer__logo">
            <img src="assets/images/favicon/footer-logo.svg" alt="logo">
          </div>
          <div class="footer__icon-wrap">
            <a href="https://www.whatsapp.com/">
              <img src="assets/images/favicon/footer-1.svg" alt="icon">
            </a>
            <a href="https://www.messenger.com/">
              <img src="assets/images/favicon/footer-2.svg" alt="icon">
            </a>
            <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwixg8bI_Z2EAxV7gIMHHenfDVcYABAAGgJlZg&ase=2&gclid=CjwKCAiAt5euBhB9EiwAdkXWOwU0B1bYrtZM5XwdICkwu8KZcv0ln22IzwbsEtkXvM1TWVSH4_9laRoCWmsQAvD_BwE&ohost=www.google.com&cid=CAESVeD2ppAa0OYI0mMvB2BENGBQabLufCseNp_B1ozHXpNHOoe-0Od4iREn6W1G-2AJm4PlI2rwu7vlXeRs1T-uMKQAUDcpsyLCA6pzCj6Mj63QLiBQex0&sig=AOD64_327uHI93M0mdDDGR48OIjJeExeXQ&q&nis=4&adurl&ved=2ahUKEwic8b_I_Z2EAxVbiv0HHeuiBnUQ0Qx6BAgNEAE">
              <img src="assets/images/favicon/footer-3.svg" alt="icon">
            </a>
            <a href="https://twitter.com/login?lang=ru">
              <img src="assets/images/favicon/footer-4.svg" alt="icon">
            </a>
            <a href="https://www.youtube.com/">
              <img src="assets/images/favicon/footer-5.svg" alt="icon">
            </a>
          </div>
         </div>
         <div class="footer__text-wrap">
          <p>Createx Construction Bureau has been successfully operating in the USA construction market since 2000. We are proud to offer you quality construction and exemplary service. Our mission is to set the highest standards for construction sphere.</p>
         </div>
        </div>
        <div class="footer__input-wrap">
          <div class="footer__input-title">
            <h3>Let’s stay in touch</h3>
          </div>
          <form class="footer__form" >
            <div class="footer__input-wrapper">
              <input class="footer__input" type="email" placeholder="Your email address ">
              <div class="footer__btn-wrap">
                <button class="footer__btn">subscribe</button>
              </div>
            </div>
          </form>
          <div class="footer__input-text">
            <p>*Subscribe to our newsletter to receive communications and early updates from Createx Construction Bureau.</p>
          </div>
        </div>
      </div>
      <div class="footer__links-wrap">
        <div class="footer__links">
          <h4 class="footer__link-title">HEAD OFFICE</h4>
          <h5 class="footer__h5">Address:<a  class="footer__link" href="#">8502 Preston Rd. Inglewood, New York</a></h5>
          <h5 class="footer__h5">Call:<a class="footer__link" href="#">(405) 555-0128</a></h5>
          <h5 class="footer__h5">Email:<a class="footer__link" href="#">hello@createx.com</a></h5>
        </div>
        <div class="footer__links">
          <h4 class="footer__link-title">WHO WE ARE</h4>
          <h5><a class="footer__link" href="#">About Us</a></h5>
          <h5><a class="footer__link" href="#">Available Positions</a></h5>
          <h5><a class="footer__link" href="#">Contacts</a></h5>
        </div>
        <div class="footer__links">
          <h4 class="footer__link-title">OUR EXPERIENCE</h4>
          <h5><a class="footer__link" href="#">Services</a></h5>
          <h5><a class="footer__link" href="#">Work</a></h5>
          <h5><a class="footer__link" href="#">News</a></h5>
        </div>
      </div>
      <div class="footer__heart-wrap">
        <div class="footer__heart">
          <h6>© All rights reserved. Made with</h6>
          <img src="assets/images/favicon/Heart.svg" alt="icon">
          <h6>by Createx Studio </h6>
        </div>
        <div class="footer__btn-wrap">
          <h4>GO TO TOP</h4>
          <img src="assets/images/favicon/up-1.png" alt="icon">
        </div>
      </div>
    </div>
  </footer>

  <!-- Request popup -->
  <div class="mfp mfp--request-popup zoom-anim-dialog mfp-hide" id="request">
    <div class="mfp__title">Оставьте заявку</div>
    <div class="mfp__desc">менеджер свяжется с Вами в течение 3 часов</div>

    <form class="mfp__form">
      <div class="input-wrap">
        <input type="text" name="name" data-name="Имя" placeholder="Имя" />
      </div>
      <div class="input-wrap">
        <input type="tel" name="phone" data-name="Телефон" placeholder="Телефон" required="required" />
      </div>
      <div class="input-wrap">
        <input type="email" name="email" data-name="Почта" placeholder="Почта" />
      </div>
      <button class="btn">Send</button>

      <div class="form-result">
        <div class="mess">
          <div class="mess__title">Success!</div>
          <div class="mess__desc">We will contact with you soon</div>
        </div>
      </div>
    </form>
  </div>

  <!-- Success popup-->
  <div class="mfp mfp--succes-popup zoom-anim-dialog mfp-hide" id="success">
    <div class="form-result form-result--success">
      <div class="mess">
        <div class="mess__title">Success!</div>
        <div class="mess__desc">We will contact with you soon</div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="js/libs.min.js"></script>
  <script src="js/main.min.js"></script>
</body>
</html>