<header class="header">
  <div class="container">
    <div class="header__block">
      <a href="index.html">
        <img src="assets/images/favicon/logo.svg" alt="logo" />
      </a>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item"><a href="#">About Us</a></li>
          <li class="header__item"><a href="interior.html">Services</a></li>
          <li class="header__item"><a href="work.html">Work</a></li>
          <li class="header__item"><a href="#">News</a></li>
          <li class="header__item"><a href="#">Contacts</a></li>
        </ul>
      </nav>
      <div class="header__call-wrap">
        <div class="header__phone">
          <img src="assets/images/favicon/phone.svg" alt="logo" />
          <div class="header__phone-text">
            <span>Call us</span>
            <span>(405) 555-0128</span>
          </div>
        </div>
        <div class="header__phone">
          <img src="assets/images/favicon/chat.svg" alt="logo" />
          <div class="header__phone-text">
            <span>Talk to us</span>
            <span>hello@createx.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
